In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
database = pd.read_excel("../databases/database.xlsx")

In [9]:
database

,Marca temporal,CODIGO PACIENTE,"SEXO\nMASCULINO = 1\nFEMENINO = 0,85",EDAD\n (AÑOS),ESCOLARIDAD:,"ALIMENTACION (CON QUE FRECUENCIA COME FRUTAS, VERDURAS, Y HORTALIZAS)\nDIRARIO (0)\nEVENTUAL (1)",EJERCICIO \n(al menos 30 minutos diarios?)\nSI (0)\nNO (2)\n,"FUMA CIGARRILLO, puros o pipas\n0. NO FUMA\n1. FUMADOR PASIVO\n2. EXFUMADOR (dejo de fumar hace 6 meses)\n3. FUMADOR (al menos 1 en los últimos 6 meses)",INGIERE ALCOHOL\n1. SI\n0. NO,CONSUME OTRAS SUSTANCIAS ESTUPEFACIENTES\n1. SI\n0. NO,...,DIAGNOSTICO\nOBESIDAD (E66)\n(IMC > 30)\n\nSI (1)\nNO (0),DIAGNOSTICO \nDISLIPIDEMIA\n(cualquiera de los siguientes)\nTGC: > 150 mg/dl\nHDLc: < 40 mg/dl (H)\n < 50 mg/dl (M)\ncolesterol > 200\nLDLc: > 190 mg/dl\n\nSI (1)\nNO (0),DIAGNOSTICO HIPERTENSION ARTERIAL (I10)\nAntecedente\no\nTA: >139/>89 mmHg)\n\nSI (2)\nNO (0),"DIAGNOSTICO ENFERMEDAD RENAL CRONICA \nG5A1,G5A2,G5A3 \n\nSI (1)\nNO (0)",TRATAMIENTO HIPOTIROIDISMO\nTSH > 10\n1.6-1.8 mcg/kg/día\nTSH < 10\n1.1–1.2mcg/kg/día,TRATAMIENTO DIABETES,MANEJO DE \nOBESIDAD Y SOBREPESO,TRATAMIENTO\n DISLIPIDEMIAS,TRAMIENTO \nHIPERTENSION ARTERIAL,MANEJO\nFALLA RENAL CRONICA\n(CREATININA SERICA)\n(MICROALBUMINURIA)
0,2021-02-17 09:14:47,4149ELES,1.00,59.0,CUARTO NIVEL,0.0,0.0,3.0,0.0,0.0,...,0.0,1.0,2.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,DIETA MEDITERRANEA,ESTATINAS,False,NaN
1,2021-06-24 09:07:33,2635ARDO,0.85,NaN,SUPERIOR,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,NaN,REVISION,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,SEGUIMIENTO,NaN
2,2021-07-28 12:40:45,8486ESUS,1.00,NaN,SUPERIOR,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,2.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,AJUSTAR TERAPIA,NaN
3,2022-09-06 12:40:55,3482ARDO,0.85,34.0,SUPERIOR,0.0,2.0,0.0,0.0,0.0,...,NaN,0.0,0.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,NaN,NaN,False,NaN
4,2022-09-06 13:02:30,5678ERTO,0.85,28.0,SUPERIOR,0.0,2.0,0.0,1.0,0.0,...,NaN,0.0,0.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,NaN,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2180,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2182,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2183,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
database.columns = database.columns.str.lower()

In [11]:
from metadata import DatabaseProcessor

In [12]:
processor = DatabaseProcessor("metadata.json")

In [13]:
meta_data = processor.load_metadata()

In [14]:
database = processor.rename_columns(database);

Renamed 65 columns:
  'marca temporal' -> 'timestamp'
  'codigo paciente' -> 'patient_code'
  'sexo
masculino = 1
femenino = 0,85' -> 'gender'
  ' edad
 (años)' -> 'age_years'
  'escolaridad:' -> 'education_level'
  'alimentacion (con que frecuencia come frutas, verduras, y hortalizas)
dirario (0)
eventual (1)' -> 'diet_frequency'
  'ejercicio
(al menos 30 minutos diarios?)
si (0)
no (2)
' -> 'exercise_30min_daily'
  'fuma cigarrillo, puros o pipas
0. no fuma
1. fumador pasivo
2. exfumador (dejo de fumar hace 6 meses)
3. fumador (al menos 1 en los últimos 6 meses)' -> 'smoking_status'
  'ingiere alcohol
1. si
0. no' -> 'alcohol_consumption'
  'consume otras sustancias estupefacientes
1. si
0. no' -> 'drug_consumption'
  'antecedentes familiares de
diabetes (z833)
no (0)
abuelos, tios, primos hermanos (2)
papas, hermanos o hijos (5)
' -> 'family_history_diabetes'
  'antecedentes familiares de
patologia tiroidea

1. si
0. no' -> 'family_history_thyroid'
  'antecedentes familiares de
patologia  cardiaca
o hipertension

1. si
0. no' -> 'family_history_cardiac_hypertension'
  'familiares
con
sobrepeso u obesidad

1. si
0. no' -> 'family_history_overweight_obesity'
  'familiares
con
cancer

1. si
0. no' -> 'family_history_cancer'
  'otros
antecedentes familiares

1. si
0. no' -> 'other_family_history'
  'peso' -> 'weight_kg'
  'talla' -> 'height_cm'
  'imc
normal: 20-24 (0)
sobrepeso 25-29 (1)
obesidad > 30 (2)' -> 'bmi_category'
  'perimetro abdominal:
hombres:
< 94 cm (0)
94-102 cm (3)
> 102 cm (4)
mujeres:
< 80 cm (0)
80-88 cm (3)
> 88 cm (4)' -> 'abdominal_perimeter'
  'presion sanguinea
> 130/>85mmhg o
hipertensión en tratamiento
si (1)
no (0)' -> 'blood_pressure_high'
  'enfermedades inflamatorias:
psoriasis
lupus eritematoso sistemico
hiv
neoplasias

si (1)
no (0)' -> 'inflammatory_diseases'
  'mujer
hta en el embarazo
diabetes gestacional sindrome de ovario poliquistico
menopausea
tratamiento hormonal.

si (1)
no (0)' -> 'female_specific_conditions'
  'antecedentes patologicos personales de
hipotiroidismo (e039)

si (1)
no (0)
' -> 'personal_history_hypothyroidism'
  'antecedentes patologicos personales de
diabetes
e10 (diabetes mellitus insulinodependiente)
e11 (diabetes mellitus no insulinodependiente)

si (1)
no (0)' -> 'personal_history_diabetes'
  'antecedentes de
obesidad (e66)

si (1)
no (0)' -> 'personal_history_obesity'
  'antecedentes patologicos personales de
dislipidemias
(e785) hiperlipidemia no especificada
e780 (hipercolesterolemia pura)
e781 (hipergliceridemia pura)
e782 (hiperlipidemia mixta)

si (1)
no (0)' -> 'personal_history_dyslipidemia'
  'antecedentes patologicos personales de
hipertensión arterial (i10)

no (0)
si (1)' -> 'personal_history_hypertension'
  'antecedentes patologicos personales de
infarto agudo de miocardio (i21)
o accidente cerebrovascular (i64)

si (1)
no (0)' -> 'personal_history_cardiac_cerebrovascular'
  'antecedentes de
insuficiencia renal cronica (n188)
1. si
0. no
' -> 'personal_history_chronic_kidney_disease'
  'antecedentes patologicos personales de
cancer
(usar cie10)

si (1)
no (0)' -> 'personal_history_cancer'
  'otros
antecedentes personales

si (1)
no (0)' -> 'other_personal_history'
  'diagnostico inicial
(favor usar cie10)
' -> 'initial_diagnosis_cie10'
  'tsh
patologico
(< 0,4 o > 4,4)' -> 'tsh_pathological'
  'glucosa basal
normal
<100
prediabettes
100 - 125 mg/dl
diabetes
>125 mg/dl
< 100mg (0)
> 100mg (1)' -> 'fasting_glucose'
  'glucosa postprandial
normal
<140 mg/dl
prediabetes
140 - 199 mg/dl
diabetes
>=200 mg/dl' -> 'postprandial_glucose'
  'hba1c
normal
>5.7 %
prediabetes
5,7-6,4%
diabetes
>6.4 %

si (1)
no (0)' -> 'hba1c_elevated'
  'insulina
2.2 - 25' -> 'insulin_level'
  'trigliceridos patologico
(>150mg) o
en tratamiento' -> 'triglycerides_pathological'
  'colesterol hdl: patologico
hombres < 40mg/dl
mujeres < 50mg/dl ' -> 'hdl_cholesterol_pathological'
  'colesterol total
patologico
> 200' -> 'total_cholesterol_pathological'
  'colesterol ldl:
> 190 patológico' -> 'ldl_cholesterol_pathological'
  'creatinina serica' -> 'serum_creatinine'
  'tasa de filtracion gomerular (tfg)
fórmula:
m: (140-edad años) * peso kg/creatinina serica * 72
f: (140-edad años) * peso kg/creatinina serica * 72) * 0,85

patologico
< 90 ' -> 'glomerular_filtration_rate'
  'microalbuminuria
a1: < 30mg/dl (tirilla negativo)
a2: 30 - 299 mg/dl (tirilla +)
a3: > 300mg/dl (tirilla >= 1+)' -> 'microalbuminuria_category'
  'tfg
g1: >=90
g2: 60 - 89
g3a: 45 - 59
g3b: 30 - 44
g4: 15 - 29
g5: < 15' -> 'gfr_category'
  'relacion tfg/proteinuria' -> 'gfr_proteinuria_relationship'
  'diagnostico
prediabetes (r73)
glicemia basal:
 100-125 mg/dl
tolerancia a la glucosa:
140 - 199mg/dl
hba1c
5,7-6,4%
si (1)
no (0)' -> 'prediabetes_diagnosis'
  'riesgo de diabetes a 10 años
escala de findrisk

fórmula riesgo:
bajo: < 7 puntos (1%)
ligeramente elevado: 7 - 11 puntos (4%)
moderado: 12 - 14 puntos (16,66%)
alto: 15 - 20 puntos (33%)
muy alto > 20 puntos (50%)' -> 'diabetes_risk_10_years_findrisk'
  'paciente con
sindrome metabolico
si (1)
no (0)' -> 'metabolic_syndrome'
  'riesgo cardiovascular: score
bajo: < 3%
moderado 3-4%
alto: 4-9%
muy alto >= 10%' -> 'cardiovascular_risk_score'
  'riesgo cardiovascular: score2-op
< 50 años ("aj"):
bajo: < 2,5%
moderado 2,5 - < 7,5%
alto: >= 7,5%
50 - 69 años ("a"):
bajo: < 5%
moderado 5 - < 10%
alto: >= 10%
>= 70 años ("am"):
bajo: < 7,5%
moderado 7,5 - < 15%
alto: >= 15%' -> 'cardiovascular_risk_score2_op'
  'escala globorisk (ecuador)
bajo: < 5% (0)
moderado 5 - 9% (1)
alto 10 - 19% (2)
muy alto > 20% (3)' -> 'globorisk_ecuador'
  'diagnostico hipotiroidismo
antecedente o
tsh > 4,4 mg/dl)

si (1)
no (0)' -> 'hypothyroidism_diagnosis'
  'diagnostico
diabetes mellitus
antecedente o
glicemia > 125 mg/dl

si (5)
no (0)' -> 'diabetes_mellitus_diagnosis'
  'diagnostico
obesidad (e66)
(imc > 30)

si (1)
no (0)' -> 'obesity_diagnosis'
  'diagnostico
dislipidemia
(cualquiera de los siguientes)
tgc: > 150 mg/dl
hdlc: < 40 mg/dl (h)
          < 50 mg/dl (m)
colesterol > 200
ldlc: > 190 mg/dl

si (1)
no (0)' -> 'dyslipidemia_diagnosis'
  'diagnostico  hipertension arterial (i10)
antecedente
o
ta: >139/>89 mmhg)

si (2)
no (0)' -> 'hypertension_diagnosis'
  'diagnostico enfermedad renal cronica
g5a1,g5a2,g5a3

si (1)
no (0)' -> 'chronic_kidney_disease_diagnosis'
  'tratamiento hipotiroidismo
tsh > 10
1.6-1.8 mcg/kg/día
tsh < 10
1.1–1.2mcg/kg/día' -> 'hypothyroidism_treatment'
  'tratamiento diabetes' -> 'diabetes_treatment'
  'manejo de
obesidad y sobrepeso' -> 'obesity_overweight_management'
  'tratamiento
 dislipidemias' -> 'dyslipidemia_treatment'
  'tramiento
hipertension arterial' -> 'hypertension_treatment'
  'manejo
falla renal cronica
(creatinina serica)
(microalbuminuria)' -> 'chronic_kidney_failure_management'

In [15]:
database2 = database.copy()

In [16]:
database2=database2.dropna(subset=['patient_code'])

In [17]:
database2

,timestamp,patient_code,gender,age_years,education_level,diet_frequency,exercise_30min_daily,smoking_status,alcohol_consumption,drug_consumption,...,obesity_diagnosis,dyslipidemia_diagnosis,hypertension_diagnosis,chronic_kidney_disease_diagnosis,hypothyroidism_treatment,diabetes_treatment,obesity_overweight_management,dyslipidemia_treatment,hypertension_treatment,chronic_kidney_failure_management
0,2021-02-17 09:14:47,4149ELES,1.00,59.0,CUARTO NIVEL,0.0,0.0,3.0,0.0,0.0,...,0.0,1.0,2.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,DIETA MEDITERRANEA,ESTATINAS,False,NaN
1,2021-06-24 09:07:33,2635ARDO,0.85,NaN,SUPERIOR,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,NaN,REVISION,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,SEGUIMIENTO,NaN
2,2021-07-28 12:40:45,8486ESUS,1.00,NaN,SUPERIOR,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,2.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,AJUSTAR TERAPIA,NaN
3,2022-09-06 12:40:55,3482ARDO,0.85,34.0,SUPERIOR,0.0,2.0,0.0,0.0,0.0,...,NaN,0.0,0.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,NaN,NaN,False,NaN
4,2022-09-06 13:02:30,5678ERTO,0.85,28.0,SUPERIOR,0.0,2.0,0.0,1.0,0.0,...,NaN,0.0,0.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,NaN,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,2024-06-21 08:39:10,8558ARDO,0.85,30.0,CUARTO NIVEL,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,NORMAL,NaN,MANTENER TERAPIA,TRATAMIENTO,NaN,SEGUIMIENTO,False
2157,2024-06-21 08:47:22,2137RDES,1.00,47.0,TERCER NIVEL,0.0,0.0,0.0,1.0,0.0,...,0.0,NaN,0.0,NORMAL,NaN,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,False,False
2158,2024-06-21 10:43:22,7338ALIA,1.00,22.0,SECUNDARIA,0.0,2.0,0.0,1.0,0.0,...,0.0,NaN,0.0,LEVE - MODERADA REDUCCION,NaN,MANTENER TERAPIA,False,NaN,False,CONTROL EN 3 MESES
2159,2024-06-21 11:08:11,7119ELEN,1.00,53.0,CUARTO NIVEL,1.0,2.0,0.0,1.0,0.0,...,0.0,1.0,2.0,LEVE REDUCCION,NaN,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,AJUSTAR TERAPIA,False
2160,2024-06-21 12:07:25,00,0.85,37.0,CUARTO NIVEL,0.0,2.0,0.0,0.0,0.0,...,0.0,NaN,0.0,LEVE - MODERADA REDUCCION,NaN,REVISAR,False,NaN,False,CONTROL EN 3 MESES

## gender

In [18]:
database2.gender.replace(0.85,0,inplace=True)

/tmp/ipykernel_92283/2651615036.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2.gender.replace(0.85,0,inplace=True)

## age_years

In [19]:
database2.age_years.fillna(database2.age_years.mean(),inplace=True)

/tmp/ipykernel_92283/440975384.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2.age_years.fillna(database2.age_years.mean(),inplace=True)

## education_level

In [20]:
import util

In [21]:
util.get_categories(database2,'education_level')

{'TERCER NIVEL': 0,
 'SECUNDARIA': 1,
 'CUARTO NIVEL': 2,
 'SUPERIOR': 3,
 'PRIMARIA': 4,
 'NINGUNA': 5}

In [22]:
util.change_category(database2,'education_level')

/home/robdres/KidneyTool/model/model/util.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  clean_database[col] = clean_database[col].replace(category)

,timestamp,patient_code,gender,age_years,education_level,diet_frequency,exercise_30min_daily,smoking_status,alcohol_consumption,drug_consumption,...,obesity_diagnosis,dyslipidemia_diagnosis,hypertension_diagnosis,chronic_kidney_disease_diagnosis,hypothyroidism_treatment,diabetes_treatment,obesity_overweight_management,dyslipidemia_treatment,hypertension_treatment,chronic_kidney_failure_management
0,2021-02-17 09:14:47,4149ELES,1.0,59.000000,2,0.0,0.0,3.0,0.0,0.0,...,0.0,1.0,2.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,DIETA MEDITERRANEA,ESTATINAS,False,NaN
1,2021-06-24 09:07:33,2635ARDO,0.0,39.676566,3,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,NaN,REVISION,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,SEGUIMIENTO,NaN
2,2021-07-28 12:40:45,8486ESUS,1.0,39.676566,3,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,2.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,AJUSTAR TERAPIA,NaN
3,2022-09-06 12:40:55,3482ARDO,0.0,34.000000,3,0.0,2.0,0.0,0.0,0.0,...,NaN,0.0,0.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,NaN,NaN,False,NaN
4,2022-09-06 13:02:30,5678ERTO,0.0,28.000000,3,0.0,2.0,0.0,1.0,0.0,...,NaN,0.0,0.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,NaN,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,2024-06-21 08:39:10,8558ARDO,0.0,30.000000,2,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,NORMAL,NaN,MANTENER TERAPIA,TRATAMIENTO,NaN,SEGUIMIENTO,False
2157,2024-06-21 08:47:22,2137RDES,1.0,47.000000,0,0.0,0.0,0.0,1.0,0.0,...,0.0,NaN,0.0,NORMAL,NaN,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,False,False
2158,2024-06-21 10:43:22,7338ALIA,1.0,22.000000,1,0.0,2.0,0.0,1.0,0.0,...,0.0,NaN,0.0,LEVE - MODERADA REDUCCION,NaN,MANTENER TERAPIA,False,NaN,False,CONTROL EN 3 MESES
2159,2024-06-21 11:08:11,7119ELEN,1.0,53.000000,2,1.0,2.0,0.0,1.0,0.0,...,0.0,1.0,2.0,LEVE REDUCCION,NaN,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,AJUSTAR TERAPIA,False
2160,2024-06-21 12:07:25,00,0.0,37.000000,2,0.0,2.0,0.0,0.0,0.0,...,0.0,NaN,0.0,LEVE - MODERADA REDUCCION,NaN,REVISAR,False,NaN,False,CONTROL EN 3 MESES

## diet_frequency

In [23]:
util.get_categories(database2,'diet_frequency')

{0.0: 0, 1.0: 1}

## exercise_30min_daily

In [24]:
util.get_categories(database2,'exercise_30min_daily')

{2.0: 0, 0.0: 1}

In [25]:
util.get_categories(database2,'smoking_status')

{0.0: 0, 3.0: 1, 2.0: 2, 1.0: 3}

In [26]:
util.get_categories(database2,'alcohol_consumption')

{0.0: 0, 1.0: 1}

In [27]:
util.get_categories(database2,'drug_consumption')

{0.0: 0, 1.0: 1}

In [28]:
database2.columns

Index(['timestamp', 'patient_code', 'gender', 'age_years', 'education_level',
       'diet_frequency', 'exercise_30min_daily', 'smoking_status',
       'alcohol_consumption', 'drug_consumption', 'family_history_diabetes',
       'family_history_thyroid', 'family_history_cardiac_hypertension',
       'family_history_overweight_obesity', 'family_history_cancer',
       'other_family_history', 'weight_kg', 'height_cm', 'bmi_category',
       'abdominal_perimeter', 'blood_pressure_high', 'inflammatory_diseases',
       'female_specific_conditions', 'personal_history_hypothyroidism',
       'personal_history_diabetes', 'personal_history_obesity',
       'personal_history_dyslipidemia', 'personal_history_hypertension',
       'personal_history_cardiac_cerebrovascular',
       'personal_history_chronic_kidney_disease', 'personal_history_cancer',
       'other_personal_history', 'initial_diagnosis_cie10', 'tsh_pathological',
       'fasting_glucose', 'postprandial_glucose', 'hba1c_elevated',
       'insulin_level', 'triglycerides_pathological',
       'hdl_cholesterol_pathological', 'total_cholesterol_pathological',
       'ldl_cholesterol_pathological', 'serum_creatinine',
       'glomerular_filtration_rate', 'microalbuminuria_category',
       'gfr_category', 'gfr_proteinuria_relationship', 'prediabetes_diagnosis',
       'diabetes_risk_10_years_findrisk', 'metabolic_syndrome',
       'cardiovascular_risk_score', 'cardiovascular_risk_score2_op',
       'globorisk_ecuador', 'hypothyroidism_diagnosis',
       'diabetes_mellitus_diagnosis', 'obesity_diagnosis',
       'dyslipidemia_diagnosis', 'hypertension_diagnosis',
       'chronic_kidney_disease_diagnosis', 'hypothyroidism_treatment',
       'diabetes_treatment', 'obesity_overweight_management',
       'dyslipidemia_treatment', 'hypertension_treatment',
       'chronic_kidney_failure_management'],
      dtype='object')

## columns with nan

In [29]:
columns_with_nan = database2.columns[database2.isna().any()].tolist()
columns_with_nan

['weight_kg',
 'height_cm',
 'bmi_category',
 'abdominal_perimeter',
 'blood_pressure_high',
 'inflammatory_diseases',
 'female_specific_conditions',
 'personal_history_hypothyroidism',
 'personal_history_diabetes',
 'personal_history_obesity',
 'personal_history_dyslipidemia',
 'personal_history_hypertension',
 'personal_history_cardiac_cerebrovascular',
 'personal_history_chronic_kidney_disease',
 'personal_history_cancer',
 'other_personal_history',
 'initial_diagnosis_cie10',
 'tsh_pathological',
 'fasting_glucose',
 'postprandial_glucose',
 'hba1c_elevated',
 'insulin_level',
 'triglycerides_pathological',
 'hdl_cholesterol_pathological',
 'total_cholesterol_pathological',
 'ldl_cholesterol_pathological',
 'glomerular_filtration_rate',
 'microalbuminuria_category',
 'gfr_category',
 'gfr_proteinuria_relationship',
 'prediabetes_diagnosis',
 'diabetes_risk_10_years_findrisk',
 'metabolic_syndrome',
 'cardiovascular_risk_score',
 'cardiovascular_risk_score2_op',
 'globorisk_ecuador',
 'hypothyroidism_diagnosis',
 'diabetes_mellitus_diagnosis',
 'obesity_diagnosis',
 'dyslipidemia_diagnosis',
 'hypertension_diagnosis',
 'chronic_kidney_disease_diagnosis',
 'hypothyroidism_treatment',
 'diabetes_treatment',
 'obesity_overweight_management',
 'dyslipidemia_treatment',
 'hypertension_treatment',
 'chronic_kidney_failure_management']

In [30]:
col = columns_with_nan[0]
database2[col].replace(0, database2[col].mean(),inplace=True)
database2[col].fillna(database2[col].mean(),inplace=True)
print(database2[col].isna().sum())
print((database2[col]==0).sum())

0
0

/tmp/ipykernel_92283/66108908.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].replace(0, database2[col].mean(),inplace=True)
/tmp/ipykernel_92283/66108908.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(database2[col].mean(),inplace=True)

In [31]:
col = columns_with_nan[1]
database2[col].replace(0, database2[col].mean(),inplace=True)
database2[col].fillna(database2[col].mean(),inplace=True)
print(database2[col].isna().sum())
print((database2[col]==0).sum())

0
0

/tmp/ipykernel_92283/3493041880.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].replace(0, database2[col].mean(),inplace=True)
/tmp/ipykernel_92283/3493041880.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(database2[col].mean(),inplace=True)

In [32]:
col = columns_with_nan[2]
database2[col] = database2[columns_with_nan[0]]/(database2[columns_with_nan[1]]**2)
print(database2[col].value_counts())
print((database2[col]==0).sum())
print((database2[col].isna()).sum())

bmi_category
28.017397    119
31.945855      7
26.666667      6
28.125000      6
31.099871      6
            ...
30.021502      1
29.396221      1
33.923493      1
24.456063      1
23.794264      1
Name: count, Length: 1623, dtype: int64
0
0

In [33]:
col = columns_with_nan[3]
print(col)
database2[col] = database2[col].apply(lambda x: 0 if isinstance(x,str) else x )
database2[col].fillna(0).value_counts()

abdominal_perimeter

abdominal_perimeter
0.0      955
91.0      35
90.0      27
87.0      27
88.0      26
        ...
92.4       1
72.2       1
95.2       1
121.5      1
104.2      1
Name: count, Length: 296, dtype: int64

##

In [34]:
def categorize(row):
    val = row[col]
    gender = row['gender']
    
    if val == 4:
        return 4
    if gender == 1:
        if val == 4:
            return 3
        elif val < 94:
            return 0
        elif 94 <= val < 98:
            return 1
        elif 98 <= val < 102:
            return 2
        else:
            return 3
    elif gender == 0:
        if val == 4:
            return 3
        elif val < 80:
            return 0
        elif  84<= val < 88:
            return 1
        elif 88 <= val < 102:
            return 2
        else:
            return 3
    else:
        return None  # Optional: handle missing/unknown genders

# Apply row-wise
database2[col] = database2.apply(categorize, axis=1)

In [35]:
database2[col].value_counts()

abdominal_perimeter
0    911
3    705
2    360
1    181
Name: count, dtype: int64

In [36]:
database2

,timestamp,patient_code,gender,age_years,education_level,diet_frequency,exercise_30min_daily,smoking_status,alcohol_consumption,drug_consumption,...,obesity_diagnosis,dyslipidemia_diagnosis,hypertension_diagnosis,chronic_kidney_disease_diagnosis,hypothyroidism_treatment,diabetes_treatment,obesity_overweight_management,dyslipidemia_treatment,hypertension_treatment,chronic_kidney_failure_management
0,2021-02-17 09:14:47,4149ELES,1.0,59.000000,CUARTO NIVEL,0.0,0.0,3.0,0.0,0.0,...,0.0,1.0,2.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,DIETA MEDITERRANEA,ESTATINAS,False,NaN
1,2021-06-24 09:07:33,2635ARDO,0.0,39.676566,SUPERIOR,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,NaN,REVISION,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,SEGUIMIENTO,NaN
2,2021-07-28 12:40:45,8486ESUS,1.0,39.676566,SUPERIOR,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,2.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,AJUSTAR TERAPIA,NaN
3,2022-09-06 12:40:55,3482ARDO,0.0,34.000000,SUPERIOR,0.0,2.0,0.0,0.0,0.0,...,NaN,0.0,0.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,NaN,NaN,False,NaN
4,2022-09-06 13:02:30,5678ERTO,0.0,28.000000,SUPERIOR,0.0,2.0,0.0,1.0,0.0,...,NaN,0.0,0.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,NaN,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,2024-06-21 08:39:10,8558ARDO,0.0,30.000000,CUARTO NIVEL,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,NORMAL,NaN,MANTENER TERAPIA,TRATAMIENTO,NaN,SEGUIMIENTO,False
2157,2024-06-21 08:47:22,2137RDES,1.0,47.000000,TERCER NIVEL,0.0,0.0,0.0,1.0,0.0,...,0.0,NaN,0.0,NORMAL,NaN,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,False,False
2158,2024-06-21 10:43:22,7338ALIA,1.0,22.000000,SECUNDARIA,0.0,2.0,0.0,1.0,0.0,...,0.0,NaN,0.0,LEVE - MODERADA REDUCCION,NaN,MANTENER TERAPIA,False,NaN,False,CONTROL EN 3 MESES
2159,2024-06-21 11:08:11,7119ELEN,1.0,53.000000,CUARTO NIVEL,1.0,2.0,0.0,1.0,0.0,...,0.0,1.0,2.0,LEVE REDUCCION,NaN,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,AJUSTAR TERAPIA,False
2160,2024-06-21 12:07:25,00,0.0,37.000000,CUARTO NIVEL,0.0,2.0,0.0,0.0,0.0,...,0.0,NaN,0.0,LEVE - MODERADA REDUCCION,NaN,REVISAR,False,NaN,False,CONTROL EN 3 MESES

In [37]:
col = columns_with_nan[4]
def cat(val):
    if not isinstance(val,str):
        return val
    else:
        if not "/" in val:
            return 0
        else:
            vals = val.split("/")
            if int(vals[0])>130 or int(vals[1])>85:
                return 1 
    return 0
    
database2[col].fillna(0,inplace=True)
database2[col]

/tmp/ipykernel_92283/1388148234.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

0       124/74
1       130/79
2       145/93
3       104/66
4       114/76
         ...
2156    136/89
2157    098/66
2158    124/84
2159    132/92
2160    092/62
Name: blood_pressure_high, Length: 2157, dtype: object

In [38]:
database2[col] = database2[col].apply(cat)

In [39]:
col = columns_with_nan[5]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/1924764920.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

inflammatory_diseases
0.0    2091
1.0      66
Name: count, dtype: int64

In [40]:
col = columns_with_nan[6]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/858346230.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

female_specific_conditions
0.0    2006
1.0     151
Name: count, dtype: int64

In [41]:
col = columns_with_nan[7]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3276463700.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

personal_history_hypothyroidism
0.0    2011
1.0     146
Name: count, dtype: int64

In [42]:
col = columns_with_nan[8]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3754022717.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

personal_history_diabetes
0.0    2108
1.0      49
Name: count, dtype: int64

In [43]:
col = columns_with_nan[9]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/1333868352.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

personal_history_obesity
0.0    1782
1.0     375
Name: count, dtype: int64

In [44]:
col = columns_with_nan[10]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/511554588.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

personal_history_dyslipidemia
0.0    1875
1.0     282
Name: count, dtype: int64

In [45]:
col = columns_with_nan[11]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/464239551.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

personal_history_hypertension
0.0    2007
1.0     150
Name: count, dtype: int64

In [46]:
col = columns_with_nan[12]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/2856759245.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

personal_history_cardiac_cerebrovascular
0.0    1974
1.0     183
Name: count, dtype: int64

In [47]:
col = columns_with_nan[13]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3254926129.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

personal_history_chronic_kidney_disease
0.0    2071
1.0      86
Name: count, dtype: int64

In [48]:
col = columns_with_nan[14]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/1462114664.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

personal_history_cancer
0.0    2127
1.0      30
Name: count, dtype: int64

In [49]:
col = columns_with_nan[15]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/449260924.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

other_personal_history
0.0    1429
1.0     728
Name: count, dtype: int64

In [50]:
col = columns_with_nan[16]
#database2[col].fillna(0,inplace=True)
database2[col].value_counts()

initial_diagnosis_cie10
Z108    710
0       546
(E66    136
(E03     82
(E78     78
       ...
R17       1
n830      1
N830      1
E02       1
E119      1
Name: count, Length: 128, dtype: int64

In [51]:
col = columns_with_nan[17]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3801025073.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

tsh_pathological
0.00    611
2.00     12
2.54     10
3.41     10
1.71      9
       ...
3.87      1
5.87      1
1.10      1
7.80      1
4.77      1
Name: count, Length: 593, dtype: int64

In [52]:
def cat(value):
    if(value<100):
        return 0
    else:
        return 1
        
col = columns_with_nan[18]
database2[col].fillna(0,inplace=True)
database2[col] = database2[col].apply(cat)
database2[col].value_counts()

/tmp/ipykernel_92283/3188690470.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

fasting_glucose
0    1452
1     705
Name: count, dtype: int64

In [53]:
col = columns_with_nan[19]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3530749138.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

postprandial_glucose
0.00      2141
98.61        1
80.42        1
89.25        1
92.41        1
89.75        1
78.17        1
109.71       1
90.00        1
85.39        1
90.44        1
83.45        1
84.06        1
123.22       1
63.19        1
189.00       1
95.64        1
Name: count, dtype: int64

In [54]:
col = columns_with_nan[20]
#database2[col].fillna(0,inplace=True)
database2[col].value_counts()

hba1c_elevated
5.75     5
5.48     5
5.74     4
5.70     4
5.54     4
        ..
8.55     1
5.61     1
11.61    1
6.43     1
12.70    1
Name: count, Length: 94, dtype: int64

In [55]:
col = columns_with_nan[21]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/1422172326.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

insulin_level
0.00     2142
10.80       1
38.51       1
15.49       1
12.86       1
10.77       1
23.00       1
22.47       1
14.59       1
5.21        1
24.97       1
18.15       1
32.04       1
13.20       1
16.33       1
13.60       1
Name: count, dtype: int64

In [56]:
col = columns_with_nan[22]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/2736359400.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

triglycerides_pathological
0.00      23
109.00    18
76.00     14
66.00     14
99.00     12
          ..
74.22      1
503.00     1
84.84      1
109.63     1
106.50     1
Name: count, Length: 1313, dtype: int64

In [57]:
col = columns_with_nan[23]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3269899166.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

hdl_cholesterol_pathological
0.00     893
50.00     12
52.00     10
40.00      9
51.00      9
        ...
44.63      1
48.70      1
47.77      1
53.03      1
56.56      1
Name: count, Length: 943, dtype: int64

In [58]:
col = columns_with_nan[24]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3169643435.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

total_cholesterol_pathological
0.00      29
182.00    17
188.00    16
200.00    15
185.00    15
          ..
125.49     1
172.94     1
175.33     1
159.70     1
189.29     1
Name: count, Length: 1167, dtype: int64

In [59]:
col = columns_with_nan[25]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3360743304.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

ldl_cholesterol_pathological
0.000      256
162.200      5
131.800      5
136.800      4
181.600      4
          ...
72.176       1
100.504      1
142.870      1
94.130       1
109.000      1
Name: count, Length: 1535, dtype: int64

In [60]:
col = columns_with_nan[26]
#database2[col].fillna(0,inplace=True)
database2[col].value_counts()

glomerular_filtration_rate
0.000000      10
93.160590      4
123.958333     3
113.726852     3
101.111111     3
              ..
68.750000      1
103.287037     1
133.009259     1
116.255208     1
125.611111     1
Name: count, Length: 1888, dtype: int64

In [61]:
database2

,timestamp,patient_code,gender,age_years,education_level,diet_frequency,exercise_30min_daily,smoking_status,alcohol_consumption,drug_consumption,...,obesity_diagnosis,dyslipidemia_diagnosis,hypertension_diagnosis,chronic_kidney_disease_diagnosis,hypothyroidism_treatment,diabetes_treatment,obesity_overweight_management,dyslipidemia_treatment,hypertension_treatment,chronic_kidney_failure_management
0,2021-02-17 09:14:47,4149ELES,1.0,59.000000,CUARTO NIVEL,0.0,0.0,3.0,0.0,0.0,...,0.0,1.0,2.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,DIETA MEDITERRANEA,ESTATINAS,False,NaN
1,2021-06-24 09:07:33,2635ARDO,0.0,39.676566,SUPERIOR,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,NaN,REVISION,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,SEGUIMIENTO,NaN
2,2021-07-28 12:40:45,8486ESUS,1.0,39.676566,SUPERIOR,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,2.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,AJUSTAR TERAPIA,NaN
3,2022-09-06 12:40:55,3482ARDO,0.0,34.000000,SUPERIOR,0.0,2.0,0.0,0.0,0.0,...,NaN,0.0,0.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,NaN,NaN,False,NaN
4,2022-09-06 13:02:30,5678ERTO,0.0,28.000000,SUPERIOR,0.0,2.0,0.0,1.0,0.0,...,NaN,0.0,0.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,NaN,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,2024-06-21 08:39:10,8558ARDO,0.0,30.000000,CUARTO NIVEL,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,NORMAL,NaN,MANTENER TERAPIA,TRATAMIENTO,NaN,SEGUIMIENTO,False
2157,2024-06-21 08:47:22,2137RDES,1.0,47.000000,TERCER NIVEL,0.0,0.0,0.0,1.0,0.0,...,0.0,NaN,0.0,NORMAL,NaN,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,False,False
2158,2024-06-21 10:43:22,7338ALIA,1.0,22.000000,SECUNDARIA,0.0,2.0,0.0,1.0,0.0,...,0.0,NaN,0.0,LEVE - MODERADA REDUCCION,NaN,MANTENER TERAPIA,False,NaN,False,CONTROL EN 3 MESES
2159,2024-06-21 11:08:11,7119ELEN,1.0,53.000000,CUARTO NIVEL,1.0,2.0,0.0,1.0,0.0,...,0.0,1.0,2.0,LEVE REDUCCION,NaN,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,AJUSTAR TERAPIA,False
2160,2024-06-21 12:07:25,00,0.0,37.000000,CUARTO NIVEL,0.0,2.0,0.0,0.0,0.0,...,0.0,NaN,0.0,LEVE - MODERADA REDUCCION,NaN,REVISAR,False,NaN,False,CONTROL EN 3 MESES

In [62]:
col = columns_with_nan[28]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3483557969.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

gfr_category
G1     1560
G2      405
0       173
G5       10
G3a       8
G3b       1
Name: count, dtype: int64

In [63]:
database2[col].value_counts()

gfr_category
G1     1560
G2      405
0       173
G5       10
G3a       8
G3b       1
Name: count, dtype: int64

In [64]:
labels = database2[col].value_counts(dropna=False).index
changes = dict(zip(labels,range(len(labels))))

In [65]:
database2[col] = database2[col].replace(changes)
database2[col].value_counts()

/tmp/ipykernel_92283/4126259902.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  database2[col] = database2[col].replace(changes)

gfr_category
0    1560
1     405
2     173
3      10
4       8
5       1
Name: count, dtype: int64

In [66]:
database2

,timestamp,patient_code,gender,age_years,education_level,diet_frequency,exercise_30min_daily,smoking_status,alcohol_consumption,drug_consumption,...,obesity_diagnosis,dyslipidemia_diagnosis,hypertension_diagnosis,chronic_kidney_disease_diagnosis,hypothyroidism_treatment,diabetes_treatment,obesity_overweight_management,dyslipidemia_treatment,hypertension_treatment,chronic_kidney_failure_management
0,2021-02-17 09:14:47,4149ELES,1.0,59.000000,CUARTO NIVEL,0.0,0.0,3.0,0.0,0.0,...,0.0,1.0,2.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,DIETA MEDITERRANEA,ESTATINAS,False,NaN
1,2021-06-24 09:07:33,2635ARDO,0.0,39.676566,SUPERIOR,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,NaN,REVISION,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,SEGUIMIENTO,NaN
2,2021-07-28 12:40:45,8486ESUS,1.0,39.676566,SUPERIOR,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,2.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,AJUSTAR TERAPIA,NaN
3,2022-09-06 12:40:55,3482ARDO,0.0,34.000000,SUPERIOR,0.0,2.0,0.0,0.0,0.0,...,NaN,0.0,0.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,NaN,NaN,False,NaN
4,2022-09-06 13:02:30,5678ERTO,0.0,28.000000,SUPERIOR,0.0,2.0,0.0,1.0,0.0,...,NaN,0.0,0.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,NaN,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,2024-06-21 08:39:10,8558ARDO,0.0,30.000000,CUARTO NIVEL,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,NORMAL,NaN,MANTENER TERAPIA,TRATAMIENTO,NaN,SEGUIMIENTO,False
2157,2024-06-21 08:47:22,2137RDES,1.0,47.000000,TERCER NIVEL,0.0,0.0,0.0,1.0,0.0,...,0.0,NaN,0.0,NORMAL,NaN,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,False,False
2158,2024-06-21 10:43:22,7338ALIA,1.0,22.000000,SECUNDARIA,0.0,2.0,0.0,1.0,0.0,...,0.0,NaN,0.0,LEVE - MODERADA REDUCCION,NaN,MANTENER TERAPIA,False,NaN,False,CONTROL EN 3 MESES
2159,2024-06-21 11:08:11,7119ELEN,1.0,53.000000,CUARTO NIVEL,1.0,2.0,0.0,1.0,0.0,...,0.0,1.0,2.0,LEVE REDUCCION,NaN,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,AJUSTAR TERAPIA,False
2160,2024-06-21 12:07:25,00,0.0,37.000000,CUARTO NIVEL,0.0,2.0,0.0,0.0,0.0,...,0.0,NaN,0.0,LEVE - MODERADA REDUCCION,NaN,REVISAR,False,NaN,False,CONTROL EN 3 MESES

In [67]:
col = columns_with_nan[27]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/2551125671.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

microalbuminuria_category
0      1388
A1      733
A2       34
A1        1
a1        1
Name: count, dtype: int64

In [68]:
col = columns_with_nan[29]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3301193196.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

gfr_proteinuria_relationship
G1       945
G1A1     542
G2       226
0        198
G2A1     154
G10       33
G1A2      22
G2A2      11
G5        10
G3a        6
G20        6
G3aA1      2
G3bA1      1
G2A1       1
Name: count, dtype: int64

In [69]:
labels = database2[col].value_counts(dropna=False).index
changes = dict(zip(labels,range(len(labels))))
database2[col] = database2[col].replace(changes)
database2[col].value_counts()

/tmp/ipykernel_92283/3741831648.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  database2[col] = database2[col].replace(changes)

gfr_proteinuria_relationship
0     945
1     542
2     226
3     198
4     154
5      33
6      22
7      11
8      10
9       6
10      6
11      2
12      1
13      1
Name: count, dtype: int64

In [70]:
col = columns_with_nan[30]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/490793478.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

prediabetes_diagnosis
0.0    1599
1.0     558
Name: count, dtype: int64

In [71]:
col = columns_with_nan[31]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3868934677.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

diabetes_risk_10_years_findrisk
BAJO                   1205
LIGERAMENTE ELEVADO     453
0                       422
MODERADO                 70
ALTO                      7
Name: count, dtype: int64

In [72]:
labels = database2[col].value_counts(dropna=False).index
changes = dict(zip(labels,range(len(labels))))
database2[col] = database2[col].replace(changes)
database2[col].value_counts()

/tmp/ipykernel_92283/3741831648.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  database2[col] = database2[col].replace(changes)

diabetes_risk_10_years_findrisk
0    1205
1     453
2     422
3      70
4       7
Name: count, dtype: int64

In [73]:
col = columns_with_nan[32]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3613679576.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

metabolic_syndrome
0.0    1836
1.0     321
Name: count, dtype: int64

In [74]:
col = columns_with_nan[33]
#database2[col].fillna(0,inplace=True)
print(col)
database2[col].value_counts()
database2.drop(columns=[col])

cardiovascular_risk_score

,timestamp,patient_code,gender,age_years,education_level,diet_frequency,exercise_30min_daily,smoking_status,alcohol_consumption,drug_consumption,...,obesity_diagnosis,dyslipidemia_diagnosis,hypertension_diagnosis,chronic_kidney_disease_diagnosis,hypothyroidism_treatment,diabetes_treatment,obesity_overweight_management,dyslipidemia_treatment,hypertension_treatment,chronic_kidney_failure_management
0,2021-02-17 09:14:47,4149ELES,1.0,59.000000,CUARTO NIVEL,0.0,0.0,3.0,0.0,0.0,...,0.0,1.0,2.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,DIETA MEDITERRANEA,ESTATINAS,False,NaN
1,2021-06-24 09:07:33,2635ARDO,0.0,39.676566,SUPERIOR,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,NaN,REVISION,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,SEGUIMIENTO,NaN
2,2021-07-28 12:40:45,8486ESUS,1.0,39.676566,SUPERIOR,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,2.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,AJUSTAR TERAPIA,NaN
3,2022-09-06 12:40:55,3482ARDO,0.0,34.000000,SUPERIOR,0.0,2.0,0.0,0.0,0.0,...,NaN,0.0,0.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,NaN,NaN,False,NaN
4,2022-09-06 13:02:30,5678ERTO,0.0,28.000000,SUPERIOR,0.0,2.0,0.0,1.0,0.0,...,NaN,0.0,0.0,NaN,CONTROL ANUAL,MANTENER TERAPIA,NaN,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,2024-06-21 08:39:10,8558ARDO,0.0,30.000000,CUARTO NIVEL,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,NORMAL,NaN,MANTENER TERAPIA,TRATAMIENTO,NaN,SEGUIMIENTO,False
2157,2024-06-21 08:47:22,2137RDES,1.0,47.000000,TERCER NIVEL,0.0,0.0,0.0,1.0,0.0,...,0.0,NaN,0.0,NORMAL,NaN,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,False,False
2158,2024-06-21 10:43:22,7338ALIA,1.0,22.000000,SECUNDARIA,0.0,2.0,0.0,1.0,0.0,...,0.0,NaN,0.0,LEVE - MODERADA REDUCCION,NaN,MANTENER TERAPIA,False,NaN,False,CONTROL EN 3 MESES
2159,2024-06-21 11:08:11,7119ELEN,1.0,53.000000,CUARTO NIVEL,1.0,2.0,0.0,1.0,0.0,...,0.0,1.0,2.0,LEVE REDUCCION,NaN,MANTENER TERAPIA,DIETA MEDITERRANEA,NaN,AJUSTAR TERAPIA,False
2160,2024-06-21 12:07:25,00,0.0,37.000000,CUARTO NIVEL,0.0,2.0,0.0,0.0,0.0,...,0.0,NaN,0.0,LEVE - MODERADA REDUCCION,NaN,REVISAR,False,NaN,False,CONTROL EN 3 MESES

In [75]:
col = columns_with_nan[34]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/1493508018.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

cardiovascular_risk_score2_op
0           1817
MODERADO     239
BAJO          89
ALTO          12
Name: count, dtype: int64

In [76]:
labels = database2[col].value_counts(dropna=False).index
changes = dict(zip(labels,range(len(labels))))
database2[col] = database2[col].replace(changes)
database2[col].value_counts()

/tmp/ipykernel_92283/3741831648.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  database2[col] = database2[col].replace(changes)

cardiovascular_risk_score2_op
0    1817
1     239
2      89
3      12
Name: count, dtype: int64

In [77]:
col = columns_with_nan[35]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/2197735168.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

globorisk_ecuador
0           1817
MODERADO     170
BAJO         143
ALTO          26
MUY ALTO       1
Name: count, dtype: int64

In [78]:
labels = database2[col].value_counts(dropna=False).index
changes = dict(zip(labels,range(len(labels))))
database2[col] = database2[col].replace(changes)
database2[col].value_counts()

/tmp/ipykernel_92283/3741831648.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  database2[col] = database2[col].replace(changes)

globorisk_ecuador
0    1817
1     170
2     143
3      26
4       1
Name: count, dtype: int64

In [79]:
col = columns_with_nan[36]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/2207510083.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

hypothyroidism_diagnosis
0.0    1837
1.0     320
Name: count, dtype: int64

In [80]:
col = columns_with_nan[37]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/2537157743.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

diabetes_mellitus_diagnosis
0.0    2069
1.0      88
Name: count, dtype: int64

In [81]:
col = columns_with_nan[38]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/2506138328.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

obesity_diagnosis
0.0    1683
1.0     474
Name: count, dtype: int64

In [82]:
col = columns_with_nan[39]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/598029588.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

dyslipidemia_diagnosis
0.0    1195
1.0     962
Name: count, dtype: int64

In [83]:
col = columns_with_nan[40]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/895892801.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

hypertension_diagnosis
0.0    1817
2.0     340
Name: count, dtype: int64

In [84]:
col = columns_with_nan[41]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/975927476.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

chronic_kidney_disease_diagnosis
0                              1425
NORMAL                          542
LEVE REDUCCION                  154
LEVE - MODERADA REDUCCION        35
MODERADA - SEVERA REDUCCION       1
Name: count, dtype: int64

In [85]:
labels = database2[col].value_counts(dropna=False).index
changes = dict(zip(labels,range(len(labels))))
database2[col] = database2[col].replace(changes)
database2[col].value_counts()

/tmp/ipykernel_92283/3741831648.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  database2[col] = database2[col].replace(changes)

chronic_kidney_disease_diagnosis
0    1425
1     542
2     154
3      35
4       1
Name: count, dtype: int64

In [86]:
col = columns_with_nan[42]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3688581171.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

hypothyroidism_treatment
CONTROL ANUAL    1216
REVISION          391
0                 249
TSH               139
ANTI TPO/T4       119
AJUSTAR DOSIS      27
TRATAMIENTO        16
Name: count, dtype: int64

In [87]:
labels = database2[col].value_counts(dropna=False).index
changes = dict(zip(labels,range(len(labels))))
database2[col] = database2[col].replace(changes)
database2[col].value_counts()

/tmp/ipykernel_92283/3741831648.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  database2[col] = database2[col].replace(changes)

hypothyroidism_treatment
0    1216
1     391
2     249
3     139
4     119
5      27
6      16
Name: count, dtype: int64

In [88]:
col = columns_with_nan[43]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/1569385461.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

diabetes_treatment
MANTENER TERAPIA    2084
AJUSTAR TERAPIA       55
REVISAR               15
0                      3
Name: count, dtype: int64

In [89]:
labels = database2[col].value_counts(dropna=False).index
changes = dict(zip(labels,range(len(labels))))
database2[col] = database2[col].replace(changes)
database2[col].value_counts()

/tmp/ipykernel_92283/3741831648.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  database2[col] = database2[col].replace(changes)

diabetes_treatment
0    2084
1      55
2      15
3       3
Name: count, dtype: int64

In [90]:
col = columns_with_nan[44]
database2[col].fillna(False,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3391015132.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(False,inplace=True)

obesity_overweight_management
DIETA MEDITERRANEA        846
False                     837
TRATAMIENTO               371
EVALUAR COMORBILIDADES     93
CIRUGIA BARIATRICA         10
Name: count, dtype: int64

In [91]:
labels = database2[col].value_counts(dropna=False).index
changes = dict(zip(labels,range(len(labels))))
database2[col] = database2[col].replace(changes)
database2[col].value_counts()

/tmp/ipykernel_92283/3741831648.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  database2[col] = database2[col].replace(changes)

obesity_overweight_management
0    846
1    837
2    371
3     93
4     10
Name: count, dtype: int64

In [92]:
col = columns_with_nan[45]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/3746566943.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

dyslipidemia_treatment
0                     2040
ESTATINAS               58
FIBRATOS                45
FIBRATOS/ESTATINAS      14
Name: count, dtype: int64

In [93]:
labels = database2[col].value_counts(dropna=False).index
changes = dict(zip(labels,range(len(labels))))
database2[col] = database2[col].replace(changes)
database2[col].value_counts()

/tmp/ipykernel_92283/3741831648.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  database2[col] = database2[col].replace(changes)

dyslipidemia_treatment
0    2040
1      58
2      45
3      14
Name: count, dtype: int64

In [94]:
col = columns_with_nan[46]
database2[col].fillna(False,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/2030665847.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(False,inplace=True)

hypertension_treatment
False              1479
SEGUIMIENTO         353
AJUSTAR TERAPIA     325
Name: count, dtype: int64

In [95]:
labels = database2[col].value_counts(dropna=False).index
changes = dict(zip(labels,range(len(labels))))
database2[col] = database2[col].replace(changes)
database2[col].value_counts()

/tmp/ipykernel_92283/3741831648.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  database2[col] = database2[col].replace(changes)

hypertension_treatment
0    1479
1     353
2     325
Name: count, dtype: int64

In [96]:
col = columns_with_nan[47]
database2[col].fillna(False,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/1732039507.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(False,inplace=True)

chronic_kidney_failure_management
False                 2121
CONTROL EN 3 MESES      35
CONTROL 15 DIAS          1
Name: count, dtype: int64

In [97]:
labels = database2[col].value_counts(dropna=False).index
changes = dict(zip(labels,range(len(labels))))
database2[col] = database2[col].replace(changes)
database2[col].value_counts()

/tmp/ipykernel_92283/3741831648.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  database2[col] = database2[col].replace(changes)

chronic_kidney_failure_management
0    2121
1      35
2       1
Name: count, dtype: int64

In [98]:
columns_with_nan2 = database2.columns[database2.isna().any()].tolist()
columns_with_nan2

['initial_diagnosis_cie10',
 'hba1c_elevated',
 'glomerular_filtration_rate',
 'cardiovascular_risk_score']

In [99]:
col = columns_with_nan2[1]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/2761127439.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

hba1c_elevated
0.00     2002
5.75        5
5.48        5
5.74        4
5.70        4
         ...
8.55        1
5.61        1
11.61       1
6.43        1
12.70       1
Name: count, Length: 95, dtype: int64

In [100]:
col = columns_with_nan2[2]
database2[col].fillna(0,inplace=True)
database2[col].value_counts()

/tmp/ipykernel_92283/916094232.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database2[col].fillna(0,inplace=True)

glomerular_filtration_rate
0.000000      183
93.160590       4
113.333333      3
123.958333      3
113.726852      3
             ...
68.750000       1
103.287037      1
133.009259      1
116.255208      1
125.611111      1
Name: count, Length: 1888, dtype: int64

In [101]:
col = columns_with_nan2[3]
#database2[col].fillna(0,inplace=True)
database2 = database2.drop(columns=[col])

In [102]:
col = columns_with_nan2[0]
database2 = database2.drop(columns=[col])

In [103]:
database2 = database2.drop(columns=database2.columns[0:2])

In [104]:
database2 = database2.drop(columns=['education_level'])

In [105]:
database2

,gender,age_years,diet_frequency,exercise_30min_daily,smoking_status,alcohol_consumption,drug_consumption,family_history_diabetes,family_history_thyroid,family_history_cardiac_hypertension,...,obesity_diagnosis,dyslipidemia_diagnosis,hypertension_diagnosis,chronic_kidney_disease_diagnosis,hypothyroidism_treatment,diabetes_treatment,obesity_overweight_management,dyslipidemia_treatment,hypertension_treatment,chronic_kidney_failure_management
0,1.0,59.000000,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,2.0,0,0,0,0,1,0,0
1,0.0,39.676566,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0,1,0,0,0,1,0
2,1.0,39.676566,0.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,2.0,0,0,0,0,0,2,0
3,0.0,34.000000,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,1,0,0,0
4,0.0,28.000000,0.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,0.0,30.000000,1.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,...,1.0,1.0,0.0,1,2,0,2,0,1,0
2157,1.0,47.000000,0.0,0.0,0.0,1.0,0.0,5.0,0.0,1.0,...,0.0,0.0,0.0,1,2,0,0,0,0,0
2158,1.0,22.000000,0.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,3,2,0,1,0,0,1
2159,1.0,53.000000,1.0,2.0,0.0,1.0,0.0,5.0,0.0,1.0,...,0.0,1.0,2.0,2,2,0,0,0,2,0
2160,0.0,37.000000,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,3,2,2,1,0,0,1

In [111]:
database2.columns
database2.to_csv("clean_database.csv")

In [107]:
columns = ["chronic_kidney_disease_diagnosis", "chronic_kidney_failure_management"]
database2 = database2.drop(columns=columns[1])

In [108]:
database2.columns

Index(['gender', 'age_years', 'diet_frequency', 'exercise_30min_daily',
       'smoking_status', 'alcohol_consumption', 'drug_consumption',
       'family_history_diabetes', 'family_history_thyroid',
       'family_history_cardiac_hypertension',
       'family_history_overweight_obesity', 'family_history_cancer',
       'other_family_history', 'weight_kg', 'height_cm', 'bmi_category',
       'abdominal_perimeter', 'blood_pressure_high', 'inflammatory_diseases',
       'female_specific_conditions', 'personal_history_hypothyroidism',
       'personal_history_diabetes', 'personal_history_obesity',
       'personal_history_dyslipidemia', 'personal_history_hypertension',
       'personal_history_cardiac_cerebrovascular',
       'personal_history_chronic_kidney_disease', 'personal_history_cancer',
       'other_personal_history', 'tsh_pathological', 'fasting_glucose',
       'postprandial_glucose', 'hba1c_elevated', 'insulin_level',
       'triglycerides_pathological', 'hdl_cholesterol_pathological',
       'total_cholesterol_pathological', 'ldl_cholesterol_pathological',
       'serum_creatinine', 'glomerular_filtration_rate',
       'microalbuminuria_category', 'gfr_category',
       'gfr_proteinuria_relationship', 'prediabetes_diagnosis',
       'diabetes_risk_10_years_findrisk', 'metabolic_syndrome',
       'cardiovascular_risk_score2_op', 'globorisk_ecuador',
       'hypothyroidism_diagnosis', 'diabetes_mellitus_diagnosis',
       'obesity_diagnosis', 'dyslipidemia_diagnosis', 'hypertension_diagnosis',
       'chronic_kidney_disease_diagnosis', 'hypothyroidism_treatment',
       'diabetes_treatment', 'obesity_overweight_management',
       'dyslipidemia_treatment', 'hypertension_treatment'],
      dtype='object')

In [110]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.naive_bayes import GaussianNB
import warnings

warnings.filterwarnings("ignore")  # for cleaner output
df = database2.copy()

target_col = columns[0]# Replace with your column name
X = df.drop(columns=[target_col])
y = df[target_col]

X = pd.get_dummies(X, drop_first=True)

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y, test_size=0.2, 
)

models = {
    "Logistic Regression": LogisticRegression(),
    "Random Forest": RandomForestClassifier(),
    "SVM": SVC(),
    "XGBoost": XGBClassifier(use_label_encoder=False, eval_metric='logloss'),
    "Naive Bayes": GaussianNB()
}

for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    print(f"\n{name} Accuracy: {acc:.4f}")
    print(classification_report(y_test, y_pred))

Logistic Regression Accuracy: 0.9051
              precision    recall  f1-score   support

           0       0.90      1.00      0.94       272
           1       0.93      0.88      0.91       121
           2       0.83      0.32      0.47        31
           3       1.00      0.38      0.55         8

    accuracy                           0.91       432
   macro avg       0.92      0.64      0.72       432
weighted avg       0.90      0.91      0.89       432


Random Forest Accuracy: 0.9792
              precision    recall  f1-score   support

           0       0.98      1.00      0.99       272
           1       0.98      1.00      0.99       121
           2       0.94      0.97      0.95        31
           3       1.00      0.12      0.22         8

    accuracy                           0.98       432
   macro avg       0.98      0.77      0.79       432
weighted avg       0.98      0.98      0.97       432


SVM Accuracy: 0.7616
              precision    recall  f1-score   support

           0       0.95      0.80      0.87       272
           1       0.56      0.92      0.70       121
           2       0.00      0.00      0.00        31
           3       0.00      0.00      0.00         8

    accuracy                           0.76       432
   macro avg       0.38      0.43      0.39       432
weighted avg       0.75      0.76      0.74       432


XGBoost Accuracy: 1.0000
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       272
           1       1.00      1.00      1.00       121
           2       1.00      1.00      1.00        31
           3       1.00      1.00      1.00         8

    accuracy                           1.00       432
   macro avg       1.00      1.00      1.00       432
weighted avg       1.00      1.00      1.00       432


Naive Bayes Accuracy: 0.5440
              precision    recall  f1-score   support

           0       0.96      0.78      0.86       272
           1       0.88      0.12      0.22       121
           2       0.25      0.06      0.10        31
           3       0.03      0.75      0.06         8

    accuracy                           0.54       432
   macro avg       0.53      0.43      0.31       432
weighted avg       0.87      0.54      0.61       432

In [ ]:
from sklearn.metrics import accuracy_score, log_loss, classification_report
import numpy as np
import pandas as pd

# Create an empty list to store results
results = []

# Loop through each model and evaluate
for name, model in models.items():
    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)
    # Predict probabilities if available
    y_proba = model.predict_proba(X_test) if hasattr(model, "predict_proba") else None

    # Accuracy
    acc = accuracy_score(y_test, y_pred)

    # Log Loss (only if proba is available)
    if y_proba is not None:
        ll = log_loss(y_test, y_proba, labels=np.unique(y))
    else:
        ll = np.nan

    # Store results
    results.append({
        "Model": name,
        "Accuracy": round(acc, 4),
        "Log Loss": round(ll, 4) if not np.isnan(ll) else "N/A"
    })

# Create results DataFrame
results_df = pd.DataFrame(results).sort_values(by="Accuracy", ascending=False).reset_index(drop=True)

# Print as plain table
print("\n📊 Multiclass Model Performance Table:")
print(results_df.to_string(index=False))

In [ ]:
print(results)